{ 
  "user": {
    "name": "deployer",
    "password": "shadow-password"
  },

  "postgresql": {
    "password": {
      "postgres": "shadow-password"
    }
  },
  
  "rvm": {
    "user_installs": {
      "user"           : "deployer",
      "upgrade"        : "head",
      "default_ruby"   : "ruby-1.9.3-p194",
      "global_gems": [
        { 
          "name": "bundler",
          "version": "1.2.pre"
        }
       ]
      }
    }

  },

  "run_list": ["recipe[main]"]
}